.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}

html {
  touch-action: manipulation;
}

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  user-select: none;
  -webkit-user-select: none;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('/ShareTechMono-Regular.ttf') format('truetype');
}

.monospace {
  font-family: 'Share Tech Mono', monospace;
}

